{
  "AUTH_USERNAME": "",
  "AUTH_PASSWORD": "",
  "API_URL": "",
  "SYSTEM_API_URL": "",
  "TESTMAIL_API_KEY": "",
  "BITSIGHT_TOKEN": "",
  "DNB_API_KEY": "",
  "DNB_API_SECRET": "",
  "ECOVADIS_USERNAME": "",
  "ECOVADIS_PASSWORD": "",
}
